
header {
    font-family: 'Pacifico';
    font-size: 235px;
    text-decoration: underline;
    display: flex;
    justify-content: center;
    align-content: center;
}

a { display: flex;
    justify-content: center;
    align-content: center;}


button { display: flex;
    justify-content: center;
    align-content: center;
    font-size: 30px;
    font-family: 'Bershire Swash', cursive;
    background-color: rgb(216, 180, 211);
    
}
h3 {display: flex;
    justify-content: center;
    align-content: center;
    font-family: 'Berkshire Swash';
    font-size: 50px;

}

body {
background-color: rgb(186, 243, 216);

}

p {
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 55px;
    display: flex;
    justify-content: center;
    align-content: center;
}

#instructions-p {
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 60px;
    display: flex;
    justify-content: center;
    align-content: center;
}


#instrutions-text {
font-family: 'Gloria Hallelujah', cursive;
font-size: 20px;


}
img {
   
   padding-left: 10%;

    max-height: 10%;
    max-width: 10%;



}